* {
    font-size: 14px;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    background: #F3F3F3;
    width: 100vw;
    overflow: auto;
}
header {
    width: 100%;
    height: 50px;
    background: #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
}
header .header-cont {
    width: 70%;
    margin: auto;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
}
.header-cont .logo {
    color: #4471E8;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 30px */
    letter-spacing: -0.75px;
    flex: 1;
}
.header-cont ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.header-cont ul li {
    margin-left: 20px;
}
.header-cont ul li a {
    color: #606060;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.54px;
}

.hero-section {
    width: 100%;
    margin-bottom: 100px;
}
.hero-section .hero {
    width: 70%;
    margin-left: 60px;
    margin-top: 100px;
}
.hero-section .hero .hey{
    color: #000;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 26.91px */
    letter-spacing: -0.69px;
}
.hero-section .hero h2 {
    color: #4471E8;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 117%; /* 35.1px */
    letter-spacing: -0.9px;
}
.hero-section .hero h4 {
    color: #676565;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 117%; /* 40.95px */
    letter-spacing: -1.05px;
}
.hero-section .hero .more-hero {
    margin-top: 20px;
    color: #000;
    font-size: 22px;
    width: 500px;
}
.hero-section .hero .main-contact-me {
    border-radius: 10px;
    background: #4471E8;
    color: #fff;
    margin-top: 30px;
    font-weight: 800;
    border: 0;
    padding: 10px;
}

.about-me {
    background: #fff;
    padding: 10px;
    margin-top: 50px;
}
.about-me .about-me-cont {
    margin-top: 70px;
    margin-left: 60px;
}
.about-me  h1 {
    color: #676565;
    font-size: 32px;
    font-weight: 900;
}
.about-me .about-cont {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.about-me .about-cont .left {
    flex: 1;
}
.about-me .about-cont .left .toolkit {

}
.about-me .about-cont .left .toolkit h4 {
    color: #606060;
    font-size: 18px;
    margin-top: 10px;
}
.about-me .about-cont .left .toolkit ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}
.about-me .about-cont .left .toolkit ul li {
    width: 300px;
    color: #000;
    display: flex;
}
.about-me .about-cont .left .toolkit ul li svg {
    flex: 1;
}
.about-me .about-cont .left .toolkit ul li span {
    flex: 3;
    font-size: 20px;
    font-weight: 700;
}
.about-me .about-cont .left p {
    color: #000;
    font-size: 28px;
    font-weight: 400;
    padding: 10px;
}
.about-me .about-cont .right {
    flex: 1;
    text-align: center;
}
